@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Source Sans 3', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #f1f1f1;
    font-size: 3em;
    margin-top: 20px;
}

#subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    font-size: 1.2em;
    margin-top: 10px;
}

.flexboxContainer {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;
}

.flexboxContainer > div {
    width: 20%;
    height: 50%;
    background-image: linear-gradient(to right, rgba(12, 62, 224, 0), rgb(150, 105, 47));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 3%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.flexboxContainer > div:hover {
    background-color: #1e1e1e;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a p {
    font-size: 1em;
    color: #f1f1f1;
}

img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}
